@import "tailwindcss";

:root {
  --mainFontColor: rgb(75, 75, 75);
}

@theme {
  --color-mainfontColor: var(--mainFontColor);
}

.slick-dots {
  background-color: transparent !important;
}

.slick-next {
  right: 10px !important;
  filter: drop-shadow(0 0 5px black);
  z-index: 100;
}
.slick-prev {
  left: 10px !important;
  z-index: 100;
  filter: drop-shadow(0 0 5px black);
}